* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1.6rem;
  background-color: $color-black;
  color: $color-white;
}

a {
  display: inline-block;
  text-decoration: none;
  color: $color-white;
}

button {
  cursor: pointer;
  border: none;
}

ul,
ol {
  list-style-type: none;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 1rem 1.5rem;
}
