@media (width < 780px) {
  .header {
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 0 2rem;
    height: auto;
  }
}

@media (width < 610px) {
  .header {
    .nav {
      &__items {
        display: none;
      }

      &__burger {
        display: flex;
        flex-direction: column;
        row-gap: 0.7rem;

        &:hover {
          opacity: 0.5;
        }
      }
    }
  }

  .producer {
    min-height: 40rem;
    padding: 0 2rem;
    &__title {
      width: 100%;
      text-align: center;
    }
    &__descr {
      font-size: 1.5rem;
    }
  }

  .always {
    &__cards {
      grid-template-columns: repeat(auto-fit, minmax(36.1rem, 1fr));
    }
  }
}

@media (width < 1120px) {
  .catalog {
    justify-content: center;
  }
}

@media (width < 1140px) {
  .always {
    &__cards {
      justify-content: center;
      gap: 1.5rem;
    }
  }
}
// @media (width < 682px) {
//   .sounds {
//   }
// }
