.header {
  height: 7.1rem;
  @include disp-flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 2rem;

  &__buttons {
    @include disp-flex;
    gap: 2rem;
  }

  &__buttons--login {
    color: $color-gray;
    background-color: transparent;

    &:hover {
      color: $color-white;
    }
  }

  &__buttons--singup {
    background-color: $color-white;
    padding: 0.8rem 2rem;
    border-radius: 3.2rem;
    color: $color-dark;

    &:hover {
      background-color: $color-blue;
      color: $color-white;
      transition: all 0.3s ease-in-out;
    }
  }

  .nav {
    @include disp-flex;
    gap: 2.9rem;

    &__items {
      @include disp-flex;
      gap: 2rem;
    }

    &__link {
      color: $color-gray;

      &:hover {
        color: $color-white;
      }
    }

    &__logo {
      width: 9.7rem;
      height: 3rem;
      object-fit: contain;
    }

    &__burger {
      cursor: pointer;
      display: none;

      span {
        display: inline-block;
        width: 3rem;
        height: 0.3rem;
        background-color: $color-white;
      }
    }
  }
}
